extends layout

block content
    div.row
        div.col-md-12
            if exists == "no"
                p.lead I'm not tracking this account name yet. Enter your HN username and the system will start tracking your account.
            else
                p.lead Enter your HN username and the system will start tracking your account.
            

    div.row
        form(action="/user/add", method="post", role="form")
            div.col-md-3
                input(type="text", class="form-control", id="inputUsername", placeholder="Enter HN Username", name="hnusername")
            div.col-md-3
                button(class="btn btn-block btn-lg btn-primary", type="submit") Track my account