.color-submissions {
    color: rgba(247, 70, 74, 1.0000);
}
.color-comments {
    color: rgba(62, 191, 190, 1.0000);
}
.color-karma {
    color: rgba(253, 181, 83, 1.0000);
}
.color-error {
    color: rgba(247, 70, 74, 1.0000);
}
/* Wrapper for page content to push down footer */

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */

margin: 0 auto -90px;
}
/* Set the fixed height of the footer here */

#push,
#footer {
    height: 100px;
}
#footer {
    background-color: #f5f5f5;
}
body {
    height: 100%;
}