.color-submissions {
    color: rgba(247, 70, 74, 1.0000);
}
.color-comments {
    color: rgba(62, 191, 190, 1.0000);
}
.color-karma {
    color: rgba(253, 181, 83, 1.0000);
}
.color-error {
    color: rgba(247, 70, 74, 1.0000);
    font-weight: 400;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}
#push,
#about {
    height: 50px;
}
#about a {
    font-weight: inherit;
    color: #ffffff;
}
body {
    height: 100%;
}
@font-face {
    font-family: 'EntypoRegular';
    src: url('font/entypo.eot');
    src: url('font/entypo.eot?#iefix') format('embedded-opentype'), url('font/entypo.woff') format('woff'), url('font/entypo.ttf') format('truetype'), url('font/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.entypo {
    font-family: 'EntypoRegular';
    font-weight: normal;
    line-height: 0;
    padding-right: 15px;
}
.entypo.clock:before {
    content: '\1F554';
    vertical-align: middle;
    font-size: 70px;
}
.entypo.user:before {
    content: '\1F464';
    vertical-align: middle;
    font-size: 70px;
}
.entypo.eye:before {
    content: '\E70A';
    vertical-align: middle;
    font-size: 70px;
}
.entypo.gauge:before {
    content: '\1F6C7';
    vertical-align: middle;
    font-size: 70px;
}
.row-space-top {
    margin-top: 10%;
    margin-bottom: 30px;
}
.step {
    margin-bottom: 40px;
    margin-top: 20px;
}
.entypo-label {
    font-size: 28px;
    line-height: 1.46428571;
    font-weight: 300;
    vertical-align: middle;
}
span.currentusers {
    font-weight: bold;
}

html { 
  background: url(/images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
    font-size: 12px;
}

.message-error .tooltip-inner {
    width: 261px;
    background-color: #fc6621;
    max-width: 400px;
}

#tooltip-error {
    border-bottom-color: #fc6621;
}